body {
    font-family: "Lato", sans-serif;
}

.main-head {
    height: 150px;
    background: #FFF;
}

.sidenav {
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;
}


.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
}

@media screen and (max-width: 450px) {
    .login-form {
        margin-top: 10%;
    }

    .register-form {
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px) {
    .main {
        margin-left: 40%;
    }

    .sidenav {
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form {
        margin-top: 80%;
    }

    .register-form {
        margin-top: 20%;
    }
}


.login-main-text {
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2 {
    font-weight: 300;
}


/*
*******BTN SOCIAL
*/

.btn-google {
    background-color: #dd4b39;
    border-color: #dd4b39;
}

.btn-google:hover {
    background-color: #c23321;
    border-color: #c23321;
}

.btn-twitter{
    background: #55acee;
    border-color: #55acee;
}

.btn-twitter:hover{
    background: #2795e9;
    border-color: #2795e9;
}

.btn-facebook{
    background: #3b5998;
    border-color: #3b5998;
}

.btn-facebook:hover{
    background: #2d4373;
    border-color: #2d4373;
}